<div class="jumbotron">
    <h1>Documents</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title-white">Membership</h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLScrPepz2gsvqyM-LjuXnnU1JZK1ItylhqMj9d4e7inBJJ2DXQ/viewform" target="_blank">2019 Membership Form (Online)</a>
                </p>
                <p>
                    <a href="@Url.Content("~/Documents/HSTC_2019_Payment_Form.pdf")" target="_blank">2019 Payment Form (PDF)</a>
                </p>
                <p>
                    <a href="@Url.Content("~/Documents/HSTC_2018_Guest_Policy.pdf")" target="_blank">2018 Guest Policy</a>
                </p>
            </div>
        </div>
        <br />
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title-white">Membership Letter</h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="@Url.Content("~/Documents/HSTC_2019_Membership_Letter.pdf")" target="_blank">2019 Membership Letter</a>
                </p>
                <p>
                    <a href="@Url.Content("~/Documents/HSTC_2019_ByLaws.pdf")" target="_blank">2019 ByLaws</a>
                </p>
                <p>
                    <a href="@Url.Content("~/Documents/HSTC_2018_Membership_Handbook.pdf")" target="_blank">2018 Membership Handbook and Club Rules</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title-white">Social</h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="@Url.Content("~/Documents/HSTC_2019_Party_Policy_And_Signup.pdf")" target="_blank">2019 Party Policy and Signup Form</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title-white">Other</h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="@Url.Content("~/Documents/HSTC_2019_Swim_Lessons.pdf")" target="_blank">2019 Swim Lessons Schedule and Signup Forms</a>
                </p>
                <p>
                    <a href="@Url.Content("~/Documents/HSTC_2019_Tot_Swim_Lessons.pdf")" target="_blank">2019 Tot Swim Lessons Schedule and Signup Forms</a>
                </p>
                <p>
                    <a href="@Url.Content("~/Documents/HSTC_2019_Tennis.pdf")" target="_blank">2019 Tennis Schedule and Signup Forms</a>
                </p>
            </div>
        </div>
    </div>
</div>
