<div class="jumbotron" style="padding-top: 8px; padding-bottom: 8px;">
    <p><img src="~/Images/pool5.jpg" alt="pool life" style="width:100%;" /></p>
    <h1>Huntington Swim &amp; Tennis Club</h1>
    <p class="lead">
        Welcome. We are Naperville's oldest and most friendly swim and tennis
        club. We are located on Chicago Avenue next to the Huntington and Huntington
        Commons subdivisions. Our club is a traditional summer fun spot for over 200
        members. We offer a safe, well-maintained facility with plenty of swim, tennis
        and social activities for adults and kids. There is no better place to
        enjoy summer than HSTC! Please join us for our 50th (2019) season. <a href="/Home/About">Learn more &raquo;</a>        
    </p>
</div>

        <div class="row">
            <div class="col-md-4">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title-white">Pool Hours</h3>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                            </tr>
                            <!--
                            <tr>
                                <td>Sunday</td>
                                <td>&nbsp;</td>
                                <td>Adults: 10am-Noon, Open Swim: Noon-9pm</td>
                            </tr>
                            <tr>
                                <td>Monday</td>
                                <td>&nbsp;</td>
                                <td>Open Swim: 12:30pm-9pm</td>
                            </tr>
                            <tr>
                                <td>Tuesday</td>
                                <td>&nbsp;</td>
                                <td>Open Swim: 12:30pm-9pm</td>
                            </tr>
                            <tr>
                                <td>Wednesday</td>
                                <td>&nbsp;</td>
                                <td>Adults and Kids 9 and under: 10:30a-12:30pm, Open Swim: 12:30pm-9pm</td>
                            </tr>
                            <tr>
                                <td>Thursday</td>
                                <td>&nbsp;</td>
                                <td>Open Swim: 12:30pm-9pm</td>
                            </tr>
                            <tr>
                                <td>Friday</td>
                                <td>&nbsp;</td>
                                <td>Open Swim: 12:30pm-9pm</td>
                            </tr>
                            <tr>
                                <td>Saturday</td>
                                <td>&nbsp;</td>
                                <td>Open Swim: 11am-9pm</td>
                            </tr>
                            -->
                        </table>                        
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title-white">Calendar</h3>
                    </div>
                    <div class="panel-body">
                        <table>
                            <tr>
                                <td style="vertical-align:top;">&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>The pool is closed for the 2019 season.</td>
                            </tr>
                        </table>
                        <p>
                            &nbsp;
                        </p>
                        <p>
                            <a class="btn btn-info" href="https://www.facebook.com/pages/Huntington-Swim-and-Tennis-Club/934882203201698" target="_blank">Visit Us On Facebook &raquo;</a>
                        </p>
                     </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title-white">Documents</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            <b>2019</b><br />
                            <a href="@Url.Content("~/Documents/HSTC_2019_Membership_Letter.pdf")" target="_blank">2019 Membership Letter</a><br />
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScrPepz2gsvqyM-LjuXnnU1JZK1ItylhqMj9d4e7inBJJ2DXQ/viewform" target="_blank">2019 Membership Form</a><br />
                            <a href="@Url.Content("~/Documents/HSTC_2019_Swim_Lessons.pdf")" target="_blank">2019 Swim Lessons Schedule and Signup Forms</a><br />
                            <a href="@Url.Content("~/Documents/HSTC_2019_Tot_Swim_Lessons.pdf")" target="_blank">2019 Tot Swim Lessons Schedule &amp; Signup Forms</a><br />
                            <a href="@Url.Content("~/Documents/HSTC_2019_Tennis.pdf")" target="_blank">2019 Tennis Schedule and Signup Forms</a><br />
                            <b>2018</b><br />
                            <a href="@Url.Content("~/Documents/HSTC_2018_Membership_Handbook.pdf")" target="_blank">2018 Membership Handbook and Club Rules</a><br />
                            <a href="@Url.Content("~/Documents/HSTC_2018_Guest_Policy.pdf")" target="_blank">2018 Guest Policy</a><br />
                        </p>
                        <p><a class="btn btn-info" href="/Home/Documents">All Documents &raquo;</a> 
                            </p>
                        <!--
                        <p><a href="/Home/Membership" class="btn btn-green btn-md">Pay Your Annual Membership &raquo;</a></p>
                        -->
                    </div>
                </div>
            </div>
        </div>
